body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.modify{
    font-size: 50px;
}
.text-size{
    font-size: 20px;
}
.justify{
    text-align: justify;
    line-height: 1.6;
    opacity:0.7 ;
}
.equal{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.equal-1{
    display: flex;
    padding-bottom: 100px; 
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.equal-width{
    width: 50%;
    margin:0 100px;
}
.equal-width p{
width: 90%;
}
.equal-width img{
    width: 90%;
}
.color-change{
    color: orange;
}
.new{
  color: azure;
  background-image:linear-gradient(orange,aqua);
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
}